<!DOCTYPE html>
<html>

<head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script data-require="angular.js@1.5.8" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>

    <link rel="stylesheet" href="style.css" />
    <script src="gm.dragDrop.js"></script>
    <script src="script.js"></script>
</head>

<body ng-app='app'>
<div class="container">
    <div class='ranking-pyramid'>
        <h1>gm.dragDrop Demo</h1>

        <!--<div>--> <!--class="pyramid-container" >-->


        <!--================== PYRAMID =====================-->
        <div class="pyramid-container">
            <div class="pyramid block2"
                 gm-on-drop='getDropHandler(leftZone)'>2
                 <!--gm-drop-zone='left'-->

                <ul class='list-group'>
                    <li class='list-group-item' ng-repeat='item in leftZone' gm-draggable='{ dragPlace: leftZone, item: item }'>{{item.name}}</li>
                </ul>
            </div>


            <div class="pyramid block3"
                 gm-on-drop='getDropHandler(rightZone)'>3
                 <!--gm-drop-zone='right'-->

                <ul class='list-group'>
                    <li class='list-group-item' ng-repeat='item in rightZone' gm-draggable='{ dragPlace: rightZone, item: item }'>{{item.name}}</li>
                </ul>
            </div>
        </div>



        <!--================== ROWS ========================-->

        <div class='panel panel-default' gm-on-drop='getDropHandler(rowsPlace)'>
            <div class='panel-heading'>
                <span class='panel-title'>rowsPlace</span>
            </div>
            <ul class='list-group'>
                <li class='list-group-item gm-drag-handle'
                    ng-repeat="item in rowsPlace | orderBy:'number'"
                    gm-draggable='{ dragPlace: rowsPlace, item: item }' >
                    <div class="pull-left ">
                        <span class="glyphicon glyphicon-move"></span>
                    </div>
                    <span style="margin-left:20px;">

                        {{item.name}}
                    </span>
                </li>
            </ul>
        </div>


        <h4>Categories11</h4>







        <!--<div class='panel panel-default'
             ng-repeat='category in categories'
             gm-on-drop='getDropHandler(category)'>


            <div class='panel-heading'>
                <span class='panel-title'>Category {{$index + 1}}</span>
            </div>


            <ul class='list-group'>
                <li class='list-group-item'
                    ng-repeat='item in category.items'
                    gm-draggable='{ category: category, item: item }'>
                    {{item.name}}
                </li>
            </ul>
        </div>-->

    </div>
</div>

</body>
</html>
























