/* Styles go here */

.gm-drag-element {
    opacity: 0.3;
}

/*.ranking-pyramid*/
.container .gm-dragging {
    background-color: lightgrey;
    height: 100px;
    width: 100px;
}

.gm-drag-handle {
    cursor: grab;
}

.pyramid.gm-dropping {
    box-shadow: 0px 0px 2px black;
}

.pyramid-container{

height: 300px;
    width: 500px;
    border: solid 1px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.pyramid{
    display: inline-block;
    height: 100px;
    width: 100px;
    border:solid 1px #ddd;
    position: absolute;
    overflow: hidden;
}

.block1{
    top: 30px;
    left:200px;
}
.block2{
    top: 80px;
    left: 50px;
}
.block3{
    top: 100px;
    left: 350px;
}

.pull-left {
    float: left !important;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-move:before {
    content: "\e068";
}